html, body, main{
    height: 100vh;

}
h1{
    font-size: 32px;
}
h2{
    font-size: 28px;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 20px;
}
h5{
    font-size: 16px;
}
h6{
    font-size: 12px;
}
#grid-page{
    display: grid;
    grid-template-areas: 
        "title           title              title"
        "left-background center-background right-background"
        "left-background footer            right-background";
    grid-template-rows: auto auto auto;
    grid-template-columns: 10% 80% 10%;
    height: 100%;

}
#div-title{
    grid-area: title;
    background-color: pink;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px 5px;
}
#background-left{
    grid-area: left-background;
    background-color: yellow;
}
#background-center{
    grid-area: center-background;
    background-color: gray;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    width: 100%;

}
#background-right{
    grid-area: right-background;
    background-color: orange;
}
#footer{
    grid-area: footer;
    background-color: purple;
    text-align: center;
    padding: 20px 20px;
}
#img-div{
    margin: 20px;
}
#figure{
    display: table;
    align-content:  center;
    margin: 0 auto;
}
#img-caption{
    display: table-caption;
    caption-side: bottom;
}
#image{
    display: block;
    max-width: 275px ;
    max-height: 183px;
}